<footer class="footer">

  <div class="newsletter">
    <h3>Get Your Free Cleaning Estimate Today!</h3>
  </div>

  <div class="footer-links">
    <div class="services">
      <h4>Our Services</h4>
      <li>Residential Pressure Washing</li>
      <li>Commercial Pressure Washing</li>
      <li>Trash &amp; Debris Removal</li>
      <li>Construction Cleanup</li>
    </div>
    <div class="contact">
      <h4>Contact Us</h4>
      <li>Available 5 Days a Week</li>
      <li><strong>Phone:</strong> +1 (813)473-2109</li>
      <li><strong>Email:</strong> bpower&#64;thepower2clean.com</li>
      <li><strong>Address:</strong> 7004 Five Acre Road, Plant City, FL 33565</li>
    </div>
    <div class="areas">
      <h4>Hours</h4>
      <li>Monday: 7:30am - 4:30pm</li>
      <li>Tuesday: 7:30am - 4:30pm</li>
      <li>Wednesday: 7:30am - 4:30pm</li>
      <li>Thursday: 7:30am - 4:30pm</li>
      <li>Friday: 7:30am - 4:30pm</li>
      <li>Saturday: Closed</li>
      <li>Sunday: Closed</li>
    </div>
  </div>

  <div class="copyright">
    <p>&copy; 2025 The Power 2 Clean LLC | Licensed &amp; Insured. All rights reserved.</p>
    <p>Design | <a href="https://jarvon.digital">JarVonDigital LLC</a></p>
  </div>
</footer> 