<section class="hero">
  <div class="hero-content">
    <div class="sbs">
      <img src="/images/2025 logo.png" alt="">
      <h1>
        Trash Removal
        <span>&</span>
        Pressure Washing
      </h1>
    </div>
    
    <p>From curb to rooftop, we clear the clutter and blast away grime—delivering fast, reliable, and eco-conscious service that makes your property shine.</p>
    <button class="cta">
      <a href="tel:+18132033469">
        Call for Estimate
      </a>
    </button>
  </div>
  <div class="background">
    <img src="images/shutterstock-debris.jpg" alt="">
  </div>
</section> 