<div class="feature-blocks">
  <div class="feature-block">
    <img src="https://img.icons8.com/fluency/48/high-pressure.png" alt="Pressure Washing Icon" class="feature-icon" />
    <h3>Expert Pressure Washing</h3>
    <p>Professional-grade equipment and techniques for superior cleaning results.</p>
  </div>
  <div class="feature-block">
    <img src="https://img.icons8.com/fluency/48/waste.png" alt="Trash Removal Icon" class="feature-icon" />
    <h3>Complete Trash Removal</h3>
    <p>Efficient removal and responsible disposal of all types of waste.</p>
  </div>
  <div class="feature-block highlight">
    <img src="https://img.icons8.com/fluency/48/guarantee.png" alt="Satisfaction Guarantee Icon" class="feature-icon" />
    <h3>100% Satisfaction</h3>
    <p>Our work isn't done until you're completely satisfied with the results.</p>
  </div>
</div> 